@page
@model BudgetApp.Areas.Identity.Pages.TransactionsModel
@{
}


<body>

    <div class="container mt-5">
        <h2 class="mb-4">All Transactions</h2>

        <div class="text-right mb-3">
            <a asp-page="/AddTransaction" class="btn btn-success">Add Transaction</a>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.AllTransactions)
                    {
                        <tr>
                            <td>@transaction.date.ToShortDateString()</td>
                            <td>@transaction.description</td>
                            <td>@transaction.amount.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>